@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 94 48% 95%; /* -- Off-white #F4FDF2 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 114 56% 75%; /* -- Soft green #A7D9A3 */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 191 35% 57%; /* -- Muted blue #7EB5A6 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 114 56% 75%;
    --chart-1: 114 70% 50%;
    --chart-2: 164 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;

    /* Sidebar specific theme */
    --sidebar-background: 114 56% 75%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 94 48% 95%;
    --sidebar-primary-foreground: 114 56% 50%;
    --sidebar-accent: 191 35% 57%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 114 56% 65%;
    --sidebar-ring: 94 48% 95%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 114 56% 75%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 191 35% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 114 56% 75%;
    --chart-1: 114 70% 50%;
    --chart-2: 164 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Sidebar specific theme */
    --sidebar-background: 114 56% 75%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 94 48% 95%;
    --sidebar-primary-foreground: 114 56% 50%;
    --sidebar-accent: 191 35% 57%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 114 56% 65%;
    --sidebar-ring: 94 48% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
